@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;1,300&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair', serif;
    min-width: 0;
}
body {
    background: #ece1cf;
}
footer {
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #f0ede2;
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container h2 {
    font-size: 1.5em;
    color: #303846;
}

footer .container h2::before {
    content: '';
    width: 50px;
    height: 2px;
    background: #303846;
    bottom: 5px;
}

footer .container p {
    position: relative;
    font-size: 1em;
    color: #303846;
}

.social {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 5px;
    color: #ece1cf;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #303846;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.social li a:hover {
    background: #414e57;
}

.social li ion-icon{
    font-size: 1.5em;
    color: #ece1cf;
}

.quicklinks {
    position: relative;
}

.quicklinks li {
    list-style: none;
}

.quicklinks li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    color: #303846;
    margin-bottom: 10px;
}

.quicklinks li a:hover {
    color: #414e57;
}

.myacc {
    position: relative;
}

.myacc li {
    list-style: none;
}

.myacc li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    color: #303846;
    margin-bottom: 10px;
}

.myacc li a:hover {
    color: #414e57;
}

.copyright {
    width: 100%;
    background: #303846;
    text-align: center;
    color: #ece1cf;
    padding: 1px 0;
}

@media (max-width:991px){
    footer {
        padding: 40px;
    }

    footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright {
        padding: 8px  40px;
    }
}

@media (max-width: 768px) {
    footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
}