@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,300;0,400;1,300&display=swap');

.linkno-underline
{
    text-decoration: none;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    margin-right: 60%;
    display: grid;

}


.profilephoto
{
    position: absolute;
    right: 5%;
    top: 20%;
    width: 250px;
    height: auto;
    cursor: pointer;
}

.my_account
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 55%;
    right: 8%;
    text-decoration: none;
}

.line-breaks 
{
    margin-bottom: 8em;
}

.lines
{
    margin-bottom: 5em;
}

.adetails {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(6, 0, 0);
    position: relative;
    top: 60%;
    right: 11%;
    cursor: pointer;
}

a {
    text-decoration:none;
}


.logout
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(253, 7, 7);
    position: absolute;
    top: 70%;
    right: 11%;
    cursor: pointer;
}

.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.vertical-line
{
    position:absolute;
    top: 20%;
    bottom: 0%;
    left: 50%;
    transform: translateX(body);
    width: 1px;
    background-color: black;
}

.horizontal-line
{
    border-bottom: 3px solid black;
    width: 200px;
    position:absolute;
    bottom: 34%;
    left: 80%;
}